<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963369168703-ctnjenuhbr4l4d5sqbjsb8ufeltp49an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963369168703-ctnjenuhbr4l4d5sqbjsb8ufeltp49an</string>
	<key>API_KEY</key>
	<string>AIzaSyBBwJIvK3wclLpkf40xs6jYMf1hZQ6GyVo</string>
	<key>GCM_SENDER_ID</key>
	<string>963369168703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirill-vasilyev.google-auth-test.google-auth-test</string>
	<key>PROJECT_ID</key>
	<string>auth-test-27d94</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-test-27d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963369168703:ios:5b7ec79fefea3e9fd4ad8a</string>
</dict>
</plist>